            <!-- form -->
            <form action="/api/pins" method="POST" id="add_pin">
                <div class="new_pin">
                    <div class="form-group">
                        <label for="title" class="text-light">Title</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="title" value="" placeholder="nature">
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-light">Description</label>
                        <input type="text" name="description" value="" placeholder="nature">
                    </div>
                    <div class="form-group">
                        <label for="destination" class="text-light">Destination</label>
                        <input type="text" name="destination" value="" placeholder="destination">
                    </div>
                    <div class="form-group">
                        <label for="pin_size" class="text-light">Pin Size</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-1" name="pin_size" value="small">
                            <label for="radio-1" class="text-light">Small</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="pin_size" value="medium">
                            <label for="radio-2" class="text-light">Medium</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="pin_size" value="large">
                            <label for="radio-3" class="text-light">Large</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image" class="text-light">Image-url</label>
                        <input type="url" name="image" value="">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>